extends layout

block content
    .banner.banner--home
        .container--max-width
            .banner__header
                a.button--transparent.pure-button Become an instructor
            .banner__content
                .banner__title
                    | Attend any class in Singapore for SG$20
                .banner__subtitle
                    | Everyone can teach. Everyone can be taught.
                .button--large.pure-button.pure-button-primary Register now
            .banner__footer
                | Photo: Ideation workshop at ThoughtWorks
    .main-content.container--max-width
        .pure-g
            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                .card
                    .card__image
                    .card__content
                        .card__title
                            | Coding 101
                        .card__instructor
                            | Stephanie Siaw
                        .card__date
                            | 7-9PM, Wednesday, June 7
                        .button--large.pure-button.button--full
                            | WAITLIST
                    .card__footer
                        .left-float
                            a.like__button(href="#")
                                i.fa.fa-thumbs-up
                            | 21 interested
                        .right-float
                            | 20/20
                        .clear-both
            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                .card
                    .card__image
                    .card__content
                        .card__title
                            | Coding 101
                        .card__instructor
                            | Stephanie Siaw
                        .card__date
                            | 7-9PM, Wednesday, June 7
                        .button--large.pure-button.button--full
                            | RSVP
                    .card__footer
                        .left-float
                            a.like__button(href="#")
                                i.fa.fa-thumbs-up
                            | 21 interested
                        .right-float
                            | 12/20
                        .clear-both
            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                .card
                    .card__image
                    .card__content
                        .card__title
                            | Coding 101
                        .card__instructor
                            | Stephanie Siaw
                        .card__date
                            | 7-9PM, Wednesday, June 7
                        .button--large.pure-button.button--full
                            | RSVP
                    .card__footer
                        .left-float
                            a.like__button(href="#")
                                i.fa.fa-thumbs-up
                            | 21 interested
                        .right-float
                            | 12/20
                        .clear-both
            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                .card
                    .card__image
                    .card__content
                        .card__title
                            | Coding 101
                        .card__instructor
                            | Stephanie Siaw
                        .card__date
                            | 7-9PM, Wednesday, June 7
                        .button--large.pure-button.button--full
                            | RSVP
                    .card__footer
                        .left-float
                            a.like__button(href="#")
                                i.fa.fa-thumbs-up
                            | 21 interested
                        .right-float
                            | 12/20
                        .clear-both
            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                .card
                    .card__image
                    .card__content
                        .card__title
                            | Coding 101
                        .card__instructor
                            | Stephanie Siaw
                        .card__date
                            | 7-9PM, Wednesday, June 7
                        .button--large.pure-button.button--full
                            | WAITLIST
                    .card__footer
                        .left-float
                            a.like__button(href="#")
                                i.fa.fa-thumbs-up
                            | 21 interested
                        .right-float
                            | 20/20
                        .clear-both
            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                .card
                    .card__image
                    .card__content
                        .card__title
                            | Coding 101
                        .card__instructor
                            | Stephanie Siaw
                        .card__date
                            | 7-9PM, Wednesday, June 7
                        .button--large.pure-button.button--full
                            | RSVP
                    .card__footer
                        .left-float
                            a.like__button(href="#")
                                i.fa.fa-thumbs-up
                            | 21 interested
                        .right-float
                            | 12/20
                        .clear-both


